@import "styleCommun.scss";


#imgLogin{
    background-image: url("/pictures/inscription.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    opacity: 0.5;
  }
  .login, .inscription{
    position: fixed;
    top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .cardLogin{
    width: 500px;
  }
  