/*création des breakpoints*/
$small: 767px !default; /*vue mobile*/
$medium: 1024px !default; /*vue tablette*/
$large: 1365px !default; /*vue desktop*/

/*création des variables media queries utilisant les breakpoints*/
$small-up: "only screen and (min-width: #{$small})";
$small-down: "only screen and (max-width: #{$small})";
$medium-up: "only screen and (min-width: #{$medium})";
$medium-down: "only screen and (max-width: #{$medium})";
$large-up: "only screen and (min-width: #{$large})";
$large-down: "only screen and (max-width: #{$large})";